html {background-color:rgb(211, 188, 170)}

.Titel {
    position: absolute;
    width: 50px;
    top: -100px;
    left: 100px;
}


.Ball img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 400px;
    left:-50px ;
    z-index: 1;
}
.Ente img {
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: -200px;
    left:1600px ;
    rotate: -30deg;
    z-index: 1;
}
.Kissen img {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 300px;
    left:1600px ;
    rotate: 30deg;
    z-index: 1;
}
.Teddy img {
    position: absolute;
    width: 800px;
    height: 800px;
    top: -100px;
    left:-350px ;
    rotate: 20deg;
    z-index: 1;
}



#intro1 {
    position: absolute;
    top: 300px;
    left:450px ;
}

#intro2 {
    position: absolute;
    top: 300px;
    left:450px ;
}

#intro3 {
    position: absolute;
    top: 300px;
    left:450px ;
}

#middle1 {
    position: absolute;
    top: 300px;
    left:450px ;
}


#middle2 {
    position: absolute;
    top: 300px;
    left:450px ;
}


#middle3 {
    position: absolute;
    top: 300px;
    left:450px ;
}


#outro1 {
    position: absolute;
    top: 300px;
    left:450px ;
}

#outro2 {
    position: absolute;
    top: 300px;
    left:450px ;
}

#outro3 {
    position: absolute;
    top: 300px;
    left:450px ;
}