/* Stile für den Body*/
body {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    background-color: #9496A6;
}

/* Stile für die Überschrift (h1) */
h1 {
    font-weight: 700;
    font-size: 160px;
    color: #F6F0EA;
    margin-bottom: 10px;
}

/* Stile für den Paragraph */
p {
    font-size: 45px;
    color: #F6F0EA;
    margin-bottom: 10px;

}

#Hase,
#Gans,
#Fuchs {
    display: inline-block;
    width: calc(100% / 4); /* Teilt den verfügbaren Platz in drei Teile für jedes Bild */
    object-fit: contain; /* Passt das Bild in den Container und behält das Seitenverhältnis bei */
    box-sizing: border-box; /* Berücksichtigt die Rahmen- und Padding-Größen im berechneten Wert */
    transition: width 0.3s ease; /* Übergangseffekt für eine sanfte Animation */

}


img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /* Passt das Bild in den Container */
}

 
#haseBild:hover,
#gansBild:hover,
#fuchsBild:hover  {
    width: 110%; /* Breite bei Hover */
  }
  
  
  #textBoxHase {
    background-color: #9D3C1F;
    border-radius: 5%;
    display: none;
  }

  #textBoxGans {
    background-color: #5F6280;
    border-radius: 5%;
    display: none;
  }

  #textBoxFuchs {
    background-color: #71673B;
    border-radius: 5%;
    display: none;
  }